 

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}